.wrapper {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #fff;
}

.input {
    flex: 1;
    height: 36px;
    background-color: transparent;
    color: #fff;

    &::placeholder {
        color: #ccc;
    }
}

.icon {
    font-size: 1.2rem;
}