.wrapper {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 28px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
}
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.value {
    font-size: 2.2rem;
    font-weight: 600;
}
.title {
    font-size: 1.4rem;
    color: #777880;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    
    img {
        width: 30px;
    }
}