
.wrapper {
	display: flex;
	align-items: center;
	
	height: 60px;
	position: relative;
}
.icon {
	cursor: pointer;
	line-height: 77px;
    z-index: 1000;
    color: #000;
    justify-items: center;
    display: flex;
}
.icon span {
	position: absolute;
    top: 3px;
    right: -6px;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1rem;
    background-color: red;
    padding: 3px;
    color: white;
}
.icon img {
	display: inline-block;
	width: 40px;
	margin-top: 20px;
}
.icon:hover {
	opacity: .7;
}

.logo {
	flex: 1;
	margin-left: 50px;
	color: #eee;
	font-size: 20px;
	font-family: monospace;
}

.notifi-box {
	width: 35rem;
    height: 600px;
	opacity: 1;
	position: absolute;
	top: 6.3rem;
	right: 1.7rem;
	transition: 1s opacity, 250ms height;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1000;
    background-color: #f6f5f5;
    overflow-y: scroll;
    border-radius: 1rem;
    .avatar {
        margin-right: 1.5rem;
    }
}
.notifi-box h2 {
	font-size: 14px;
	padding: 10px;
	border-bottom: 1px solid #eee;
	color: #999;
}
.notifi-box h2 span {
	color: #f00;
}
.notifi-item {
	display: flex;
	border-bottom: 1px solid #eee;
	padding: 15px 5px;
	margin-bottom: 15px;
	cursor: pointer;
}
.notifi-item:hover {
	background-color: #eee;
}
.notifi-item img {
	display: block;
	width: 50px;
	margin-right: 10px;
	border-radius: 50%;
}
.notifi-item .text h4 {
	color: #777;
	font-size: 16px;
	margin-top: 10px;
}
.notifi-item .text p {
	color: #aaa;
	font-size: 12px;
}