.left-container {
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
    height: 30.5rem; 
    overflow-y: scroll; 
}
.selectedAddress {
    padding: 1.25rem;
    padding-top: 1.75rem; 
    border-bottom: 1px solid #e2e8f0; 
    cursor: pointer; 
}
.form-control {
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 1.25rem; 
}