.wrapper {
    margin-left:  170px;
    padding: 10px;
    
}
.box-comment {
    margin-top: 15px;
}

.avatar {
    width: 56px;
    height: 56px;
    background: #9155FD;
    margin-top: 5px;
}
.info {
    margin-top: 0.5rem;
}
.name {
    font-weight: 600; 
    font-size: 1.125em;
}
.content {
    p {
        margin-bottom: 0px !important;
    }
}